a :visited{
    color:#d3a7eb;
}
a{
    color:#562c6d;
}
.center { /*clase de la imagen del mapa*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.indexBody{ /*Body html principal*/
    background-color: black;
}
/*GENERAL FRAMES*/
.frame{/*clase para todos los frames*/
    width:400px;
    text-align:center;
    border-radius: 30px;
    border:solid 3px black;
}
.close{/*icono cerrar ventana*/
    width:25px;
    position: sticky;
    top: 5px;
    left:380px;
    fill:#562c6d;
}


/*--------HTML SKILLS FRAME----------*/
#skillsFrame{ /*Frame de las habilidades*/
    position: absolute;
    left: 300px;
    top: 300px;
    background-color: black;
}
.mySkillsBody{ /*Body del html de my skills*/
    text-align: center;
    color:#562c6d;
    
}
.mySkillsBody th,td {
    border-right:2px #562c6d solid;
}
.mySkillsBody th {
    border-bottom:2px #562c6d solid;
}
.mySkillsBody table{
    border-collapse: collapse;
    margin: auto;
}
.mySkillsBody td:nth-child(4n){
 border-right: none;
}
.mySkillsBody th:nth-child(4n){
    border-right: none;
   }

/*----------HTML CONTACT FRAME----------------*/
#contactFrame{
    position: absolute;
    left: 500px;
    top: 400px;
    background-color: black;
}
.contacto{
    text-align:left;
    margin-left:10%;
}

/*----------HTML ABOUTME FRAME----------------*/
#aboutMeFrame{
    position: absolute;
    width:600px;
    left: 500px;
    height:600px;
    top: 100px;
    background-color: black;
}
.closeAboutMe{/*icono cerrar ventana*/
    width:25px;
    position: sticky;
    top: 5px;
    left:580px;
}

/*----------HTML MYPROJECTS FRAME----------------*/
#myProjectsFrame{
    position: absolute;
    left: 500px;
    top: 100px;
    background-color: black;
}
.misProyectos{
    text-align:center;
    color:#d3a7eb;
}
